/* Section 1*/
#hero {
  position: relative;
  padding-top : 50px;
  height : 100vh;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#first-row-text, #second-row-text {
  font-size: var(--fs-xl1);
  font-weight: bold;
}

#first-row-text {
  margin-left: -2.5vw;
}

#second-row-text {
  margin-left : 2.5vw;
}

.special-text {
  font-family: Giovanetta;
  font-size: var(--fs-xl2);
  font-weight: normal;
}

#blur1, #blur2, #blur3, #blur4 {
  opacity :0;
  transition: opacity 100ms;
  position: absolute;
}

#blur1 {
  width : var(--blur1-width);
  z-index: -2;
  margin-left : -15vw;
  margin-bottom : -26vh;
  animation: 600ms ease-in 800ms 1 forwards appear;
}

#blur2{
  width : var(--blur2-width);
  z-index: -1;
  margin-bottom : -23vh;
  margin-right : 0vw;
  animation: 600ms ease-in 1650ms 1 forwards appear;
}

#blur3 {
  width : var(--blur3-width);
  margin-top :-10vh;
  margin-left : -35vw;
  z-index: -4;
  animation: 600ms ease-in 1300ms 1 forwards appear;
  
}

#blur4 {
  width : var(--blur4-width);
  z-index: -3;
  margin-top : 0vh;
  margin-right : -16vw;
  animation: 600ms ease-in 500ms 1 forwards appear;
}

#discover-button {
  margin-top : 30px;
  color : #F5ECEA;
  background-color: #C00000;
  font-style: italic;
  font-weight: bold;
  font-size: var(--fs-medium1);
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  text-decoration: none;
  transition: 150ms all ease-in;
}

#discover-button:hover {
  cursor : pointer;
  transform: scale(1.1);
}

/* Section 2 */

#recommended-artist {
  margin-top : 12vh;
  margin-bottom: 250px;
  padding : 0vh 3vw;
}

#recommended-artist p {
  padding-bottom: 2vh;
}

#section2-title {
  padding-top : 10vh;
  font-size: var(--fs-xl1);
}

#section2-container {
  display : flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#section2-left-container {
  width : 66vw;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size : var(--fs-text1);
  flex : 1;

}

#section2-right-container-row {
  flex : 1;
  display : flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: relative;
}

#section2-right-container-col {
  display : none;
  flex : 1;
  display : flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#section2-right-container-row > .photo-container {
  position : absolute;
  margin-top : -15vw;
  top : 0;
}

.photo-container {
  display : flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.luther-photo {
  width : clamp(50vw, 70vw, 90vw);
}

.luther-photo-bio {
  opacity: 0;
  text-transform: uppercase;
  margin-top: -19vw;
  font-weight: bolder;
  font-size: var(--fs-xl1);
  animation : appear 0ms 0.3s forwards;
}





#luther-discover {
  margin-top: 5vh;
  padding : 1vw 2vw;
  border-radius: 15px;
  background: rgba(251, 69, 227, 0.34);
  transition : 150ms all ease-in;
  font-weight: bold;
  font-size: var(--fs-text1);
  text-decoration: none;
}

#luther-discover:hover {
  cursor : pointer;
  transform: scale(1.1);

}

/* Caroussel */

.lecteur-spo {
  width: 100%;
  border-radius: 12px;
  height : 152px;
  border : none;
  max-width: 70vw;
}

#center-title {
  display : flex;
  justify-content: center;
}

#section3-title {
  font-size: var(--fs-medium1);
}

#artist-history {
  width : 100vw;
  background-color: #181717;
  height : 400px;
  display : grid;
  place-items: center;
  vertical-align: center;
}

#card-caroussel {
  color : #666666;
  text-align: center;
  height : 100%;
  width : 85vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding : 20px;
}

#card-caroussel .btn {
  position: absolute;
  top : calc(50% - 30px);
  height : 15px;
  width : 15px;
  border-left : solid 8px #696969;
  border-top : solid 8px #696969;
  cursor: pointer;
  z-index: 10;

}

#card-caroussel .btn:hover {
  transform: scale(1.2);
}

#card-caroussel .btn.inactive {
  border-color : #282828;
}

#card-caroussel .btn:first-of-type {
  transform: rotate(-45deg);
  left : 10px
}

#card-caroussel .btn:last-of-type {
  transform: rotate(135deg);
  right : 10px;
}

#card-caroussel .slider {
  display : flex;
  width : 1000%;
  height : 100%;
  transition: all 500ms;
}

#card-caroussel .slider .card{
  height : 350px;
  background-color: rgb(66, 66, 66);
  border-radius: 25px;
  transition: 150ms all ease-in;
  transform: scale(0.70);
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-caroussel .slider .card.selected{
  background-color: rgb(226, 223, 223);
  transform: scale(1);
}

#card-caroussel .slider .card .img-container-card {
  height: 70%;
  overflow-y: hidden;
}

#card-caroussel .slider .card .img-container-card  img{
  width : 100%;
  overflow-y:hidden;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

#card-caroussel .slider .card .text-container-card {
  height: 30%;
  font-size: var(--fs-text1);
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lecteur {
  margin-top : 30px;
  display : flex;
  justify-content: center;
}

/* Section 4 */

#section4 {
  margin-top : 30vh;
  padding : 5vw;
}

#section4 h1 {
  font-weight: normal;
}

#section4-title {
  font-style: italic;
  font-size: var(--fs-xl1);
  opacity :0;
}

#section4-punch {
  font-weight: bold;
  font-size: var(--fs-xl2);
  text-align: center;
  opacity : 0;
}

#section4-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section4-container {
  margin-top: 70px;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

#section4-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 0 3vw;
}

#section4-left-section > img {
  width : 30vw;
  min-width: 200px;
}

#section4-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-text1);
}

#section4-right-section > p {
  margin-bottom : 2vw;
}

#section4-discover-button {
  padding : 1vw 2vw;
  border-radius: 15px;
  background-color: rgb(0, 121, 201);
  transition : 150ms all ease-in;
  font-weight: bold;
  font-size: var(--fs-text1);
  text-decoration: none;
}

#section4-discover-button:visited {
  text-decoration: none;
  color: #F5ECEA;
}


#section4-discover-button:hover {
  cursor : pointer;
  transform: scale(1.1);
}

#section5 {
  margin-top: 10vw;
  padding : 0 3vw;
  padding-bottom: 200px;
  overflow : hidden;
}

#section5-title {
  font-size: var(--fs-xl2);
  font-weight: bold;
}

#section5-container {
  margin-top: 70px;
  display : flex;
  flex-direction: row;
  align-items: start;
  color :#F5ECEA;
}

#section5-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 0 3vw;
  position: relative;
}

#section5-left-section > img {
  width : 40vw;
  min-width: 200px;
  
}

#section5-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-text1);
}

#section5-right-section > p {
  margin-bottom : 2vw;
}

#section5-discover-button {
  padding : 1vw 2vw;
  border-radius: 15px;
  background-color: rgb(67, 67, 67);
  transition : 150ms all ease-in;
  font-weight: bold;
  font-size: var(--fs-text1);
  text-decoration: none;
  color: #F5ECEA;
}

#section5-discover-button:hover {
  cursor : pointer;
  transform: scale(1.1);
}

#vald-bio {
  font-size: var(--fs-xl2);
  font-weight: bold;
}

#blur-vald {
  position : absolute;
  z-index: -1;
  width : 60vw;
}

#section6 {
  margin-top: 15vw;
  margin-bottom : 20vw;
}

#section6-container {
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#s6-r-cont {
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width : 50%;
  margin-bottom : 4vw;
}

#s6-l-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  width : 50%;
  font-size: var(--fs-text1);

}

#s6-l-cont > p {
  margin-bottom : 1.3vw;
}

#s6-l-cont > p:first-child {
  font-weight: bold;
  font-size: var(--fs-medium1);
  margin-bottom: 2vw;;
}


#gradient-card {
  aspect-ratio: 7/9;
  width : 20vw;
  background-color: #F5ECEA;
  border-radius: 5%;
  display : flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  position: relative;
}

#gradient-card  p {
  font-size: var(--fs-medium1);
  font-weight: bold;
  color : black;
  transform: translateZ(40px);

}

#card-text-container {
  padding-top : 5%;
  display: flex;
  width : 80%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#gradient-container {
  margin-top : 8%;
  width : 18vw;
  aspect-ratio: 1/1;
  border-radius: 5%;
  background-image: var(--card-gradient);
  background-size: 300%;
  background-position: left;
  transition: background-position 1.5s;
  animation: move 30s infinite alternate;
  transform: translateZ(20px);
  box-shadow: #706d6d 2px 2px 20px;
}






