@media (max-width : 640px) {
  .photo-text, .photo-text-legend {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100vw;
  }

  .l-photo-text, .l-photo-text-legend, .r-text-photo, .r-text-photo-legend {
    margin-bottom : 30px;
  }
  .r-photo-text, .r-photo-text-legend, .l-text-photo, .l-text-photo-legend {
    margin: 0 2vw;
    text-align: justify;
  }

  .img-container {
    width : 250px;
  }

  .text-photo, .text-photo-legend {
    flex-direction: column-reverse;
  }

  .mosaique {
    flex-direction: column;
  }
  .mosaique img {
    padding-bottom: 0;
}


@media (min-width : 641px) {
  .photo-text, .photo-text-legend {
    align-items: start;
  }

  .img-container {
    width: 30vw;
  }
}
@media (min-width : 1050px) {
  .paragraph {
    margin-bottom: clamp(1em, 2em, 3em);
  }
}


@media (max-width : 1049px) {
  .paragraph {
    margin-bottom: clamp(5px, 1em, 3em);
  }
}

