@keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity : 0.2;
  }
  100% {
    opacity : 1;
  }
  
}

@keyframes changeOpacity2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity : 1;
  }
  100% {
    opacity : 0;
  }
  
}
@keyframes appearViaOpacity {
  from {
    background-color: rgba(30,30,30,1);
  }
  to {
    background-color: rgba(30,30,30,0);
  }
  
}