h2 {
  padding: 0;
  margin : 0;
  font-size: calc(var(--fs-medium1) - 4px);
  font-weight: 500;
}

#box-row1-body [type = "text"] {
  border: solid 1px rgb(243, 242, 242);
  border-radius: 3px;
  background-color: var(--header-back-col);
  width : 100px;
  opacity: 0.5;
  transition: all 150ms;
  color : white;
}

[type = "submit"] {
  display: none;
  background-color:rgb(15, 139, 1);
  color: white;
  border : none;
  padding : 10px 15px;
  border-radius: 5px;
  transition: all 100ms;
}

#settings-box-columns:has(#edit-checkbox:checked) [type = "submit"] {
  display : block;
}

[type = "submit"]:hover {
  opacity: 0.8;
  cursor: pointer;

}

select {
  border: solid 1px rgb(243, 242, 242);
  border-radius: 3px;
  background-color: var(--header-back-col);
  color : white;
  opacity: 0.5;
  transition: all 150ms;
}

#box-row1-body [type = "text"]:hover,  #box-row1-body [type = "text"]:focus, select:focus, select:hover{
opacity: 1;
}

#box-row1-body #mail {
  width : 200px;
}

#settings {
  width : 100vw;
  height : calc(100vh - 153px);
  display : flex;
  justify-content: center;
  align-items: center;
}

#settings-box-columns {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width : 55vw;
  gap : 15px;
}

#photo-background {
  min-width: 200px;
  height : 380px;
  flex: 1;
}

#photo-cont {
  border-radius: 20px;
  background-color:  var(--header-back-col);
  position : absolute;
  overflow: hidden;
  inset : 1px;

}

#settings-box-rows {
  border-radius: 20px;
  height : 380px;
  flex : 2;
  position : relative;
  overflow: hidden;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 15px;
}

.box-background {
  flex : 10;
  width : 100%;
  background-color: rgb(142, 140, 140, 0.2);
  border-radius: 20px;
  display : flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms;
  position: relative;
}

.box-background:has(#box-row1:hover), .box-background:has(#box-row2:hover), .box-background:has(#photo-cont:hover) {
  background-color: rgb(142, 140, 140, 0.8)
}


#box-row1 {
  background-color: var(--header-back-col);
  border-radius: 20px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: self;
  overflow: hidden;
  position: absolute;
  inset : 1px;
}

#edit-icon {
  position: absolute;
  right : 8px;
  top : 8px;
  height : 20px;
  opacity : 0;
  transition: all 150ms;
}

#edit-checkbox {
  position: absolute;
  right:8px;
  top : 8px;
  height : 20px;
  width : 20px;
  z-index: 2;
  opacity: 0;
}

#settings-box-columns:has(#edit-checkbox:checked) #edit-icon {
  color : orange;
  opacity: 1;
}

#edit-icon:hover {
  cursor: pointer;
}

#settings-box-columns:hover #edit-icon {
  opacity : 0.9;
}



#box-row1-title {
  flex : 1;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-row1-body {
  padding: 10px 10px;
  flex : 3;
  width : 100%;
  display : flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#box-background2 {
  flex : 6;
}

#box-row2{
  background-color: var(--header-back-col);
  border-radius: 20px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: self;
  position: absolute;
  inset : 1px;
}

#box-row2-title {
  flex : 1;
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

#box-row2-body {
  flex : 2;
  width : 100%;
  display : flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.line {
  margin : 5px 0;
  width : 100%;
  display:flex;
  gap : 1rem;
}

#interest-container {
  position: relative;
  width : 90%;
  height : 90%;
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
  margin-bottom: 5px;
  overflow: scroll;
  
}

#interest-list {
  min-height: 63%;
  padding: 15px 6px;
  display: flex; 
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
  gap : 7px;
}

.interest-item {
  text-align: center;
  background-color: rgb(214, 60, 109);
  padding: 7px 13px;
  display: table;
  border-radius: 10px;
}

#add-interest-container {
  display : none;
  border : none;
  align-items: flex-start;
  max-width : 164px;
  opacity: 0.5;
  transition: all 150ms;
}

#add-interest-container:hover, #add-interest-container:has(#text-interest:focus){
  opacity: 0.8;
}

#settings-box-columns:has(#edit-checkbox:checked) .interest-item:hover {
  animation: shake 300ms infinite both;
  cursor:not-allowed;
}

#settings-box-columns:has(#edit-checkbox:checked) #add-interest-container {
  display :flex;
}



#text-interest {
  background-color: var(--header-back-col);
  width : 80px;
  padding: 7px 13px;
  margin: 0;
  border : none;
  border-radius: 10px 0 0 10px;
  color : white;
  border-top: solid 1px rgb(243, 242, 242);
  border-left: solid 1px rgb(243, 242, 242);
  border-bottom: solid 1px rgb(243, 242, 242);
  transition: all 150ms;

}

#add-button-interest {
  background-color:#3c3838;
  color: white;
  padding: 7px 13px;
  margin: 0;
  border-radius: 0 10px 10px 0;
  border: solid 1px rgb(243, 242, 242);
  transition: all 150ms;
}

