@media(max-width:980px) {
  #settings-box-columns{
    flex-direction: column;
    justify-content: center;
    width : 400px;
    height : 100vh;
  }
  #photo-row {
    padding-top: 20px;
    margin-bottom: 0;
  }

  #settings-box-rows {
    width : 400px;
    flex: 1;
  }

  #settings {
    height:auto;
  }
}