@media(max-width:900px) {
  #settings-box-columns{
    flex-direction: column;
    justify-content: center;
    width : 400px;
    height : 100vh;
  }

  #settings-box-rows {
    width : 400px;
    flex: 1;
  }

  #settings {
    height:auto;
  }
}