.first-menu-line {
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height : 50px;
  width : 100vw;
}

.hided-menu-lines {
  width : 100vw;
  display  : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display : none;
}

.menu-lines1 {
  height : 50px;
  width : 100%;
  border-top : solid 1px grey;
  display : flex;
  justify-content: center;
  align-items: center;
  transition : all 150ms ease-in;
}

.menu-lines1:hover, .menu-lines2:hover{
  cursor : pointer;
  background-color: #3a3636;
  color : #F5ECEA;
}

.menu-lines2 {
  height : 50px;
  width : 100%;
  border-top : solid 1px grey;
  border-bottom : solid 1px grey;
  display : flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display : none;
  position : absolute;
  left : 10px;
  top : 12px;
  height :  25px;
}

.hamburger-menu:hover {
  animation : 150ms expand ease-in both;
  cursor : pointer;
}

.menu-option {
  transition: all 150ms ease-in;
}

.menu-option:hover {
  color : #F5ECEA;
  cursor : pointer;
}

.header-space {
  flex-shrink: 100;
  flex : 1;
}

.logo-container {
  flex-shrink: 0;
  width : 150px;
  height : 35px;
  background: linear-gradient(90deg, 
  rgb(185, 0, 0) 0%, 
  rgb(209, 1, 1) 16%, 
  rgb(234, 35, 0) 27%, 
  rgb(214, 100, 0) 46%, 
  rgb(255, 221, 0) 68%); 
  margin: 0vh 1vw;
  display : flex;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: url("../imgs/landing-page/Logo.svg");
  -webkit-mask-size : 150px 35px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.news {
  margin : 0px 1vw;
}

.article {
  margin : 0vh 1vw;
}

.favorite {
  margin : 0px 1vw;
  display : flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 150ms;
}

.favorite:hover {
  cursor : pointer;
}

.star {
  height : 20px;
  margin : 0vh 0.5vw;
  bottom : 0px;
}

.account {
  width : 135px;
  height : 21px;
  position: relative;
  color : #272424;
  margin : 0px 0.5vw;
  padding : 7px 0.2vw;
  border-radius: 15px;
  background: rgb(252,0,0);
  background: linear-gradient(270deg, 
  rgba(252,0,0,1) 0%, 
  rgba(255,62,62,1) 16%, 
  rgb(199, 15, 2) 27%, 
  rgb(234, 86, 0) 46%, 
  rgb(255, 136, 0) 68%); 
  z-index: -1;
  transition: all 150ms ease-in;
}

.account:hover {
  cursor : pointer;
  animation : 150ms ease-in expand both;
}

.account-background {
  padding: 0 2px 0 0.2vw;
  color : white;
  justify-content: center;
  align-items: center;
  display : flex;
  flex-direction: row;
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  border-radius: 15px;
  margin : 1px;
  background-color: #272424;
}

.account-text {
  background: linear-gradient(270deg, 
  rgba(252,0,0,1) 0%, 
  rgba(255,62,62,1) 16%, 
  rgb(234, 86, 0) 46%, 
  rgb(255, 136, 0) 68%); 
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
}

.account-logo {
  background: linear-gradient(90deg, 
  rgba(252,0,0,1) 0%, 
  rgb(205, 0, 0) 78%, 
  rgb(131, 0, 0) 95%);
  width : 30px;
  height : 30px;
  z-index : 2;
  -webkit-mask-image: url("../imgs/landing-page/account-logo.svg");
  -webkit-mask-size : 30px 23px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}